# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables



#DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example

FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
STREAM_API_SECRET=egfuhcyva6qbngb29zun8ru46v5ruaq7xy2kbfqse885vbfsrs7chgk42pnse5y5
STREAM_API_KEY=2pks7t76xeqd
# Front-End Variables
VITE_BASENAME=/
#VITE_BACKEND_URL=
