.chat_sidebar::-webkit-scrollbar-thumb{
    background-color: lab(75.88% 0 -0.01 / 0.267); /* color del scroll */
  border-radius: 10px;
  border: 2px solid hsla(0, 0%, 95%, 0);
}

.chat_sidebar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  .chat_sidebar::-webkit-scrollbar-track {
    background: hsla(0, 0%, 95%, 0); /* color del fondo */
    
  }

  .chat_sidebar{
    
    background: linear-gradient(45deg, #ec4899, #8b5cf6, #06b6d4);
    border-radius: 1rem;
    border: linear-gradient(45deg, #ec4899, #8b5cf6, #06b6d4);
    bor
  
  }