
.feed_central{
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  min-height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.ocultar-scroll {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.ocultar-scroll::-webkit-scrollbar {
  display: none; 
}