@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #d636d9;
  --color-2: #932bd9;
  --color-3: #482ef2;
  --color-4: #111d40;
  --color-5: #f2f2f2;
}



body{
    top: 0 !important;
    background-color: var(--color-5);
}
